<div class="wrapper">
    <header>
        <p class="title">Chat App</p>

        <div class="user">
            <div class="logo">
                <img src="../../../assets/images/user-image.jpg" alt="logo" loading="lazy">
            </div>
            <div class="details">
                <p>John Doe</p>
                <span>Online</span>
            </div>
        </div>
    </header>

    <div class="interface">
        <div class="left">
            <img src="../../../assets/images/user-image.jpg" alt="user" loading="lazy">
        </div>
        <div class="right">
            <app-chat></app-chat>
        </div>
    </div>
</div>