@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}